///**///***///**///
//* Base Styles *//
///**///***///**///
html,body{
    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-sizing:border-box;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    width:100%;
    overflow-x: hidden;
    z-index:1;
    min-height:100vh;
    background:#f9f9f9;
}
body *{
    box-sizing:inherit;
    backface-visibility: inherit;
}


img{
    width:100%;
    max-width:100%;
}

header,section,footer{
    display: block;
    clear: both;
    overflow: auto;
}