/* =Styles for 'normal' meta boxes
-------------------------------------------------------------- */

.rwmb-field {
	margin: 0 0 10px;
}
.rwmb-label,
.rwmb-input {
	display: inline-block;
	vertical-align: top;
    position: relative;
}
.rwmb-label {
	width: 24%;
}
.rwmb-label.required > span {
	color: #c00;
	font-weight: bold;
}

/* 75% if field has label, 100% if no label */
.rwmb-input {
	width: 100%;
}
.rwmb-label ~ .rwmb-input {
	width: 75%;
}
.rwmb-input h4 {
	margin: 0;
}
.rwmb-textarea {
	resize: vertical;
}

/* Clone */
.rwmb-clone {
	min-height: 24px;
	margin-bottom: 5px;
	position: relative;
}
.rwmb-clone > input[type='radio'],
.rwmb-clone > input[type='checkbox'] {
	margin: 6px 0 0 4px;
}
.rwmb-button {
	float: right;
}
.rwmb-button.remove-clone {
	position: absolute;
	top: 0;
	right: 0;
}

.add-clone{
    position:absolute;
    top:0;
    right:0px;
}

/* Fix empty block below admin footer (issue #24) */
#ui-datepicker-div {
	display: none;
}

/* jQuery validation */
label.error {
	padding-left: 3px;
	color: red;
}
input.error,
textarea.error,
select.error {
	border: #c00 solid 1px !important;
	background: #ffebe8 !important;
}


/* =Styles for 'side' meta boxes
-------------------------------------------------------------- */

#side-sortables .rwmb-label,
#side-sortables .rwmb-input {
	width: 100%;
}