section.contrast{

    position:relative;
    box-shadow:0px 0px 20px rgba(0,0,0,.3);
    background:$contrast-2;
    
    padding:50px 0px 100px;
    
    >div{
        max-width:960px;
        padding:0px 15px;
        margin:auto;
        min-height:20vh;
    }
    
    h3{
        text-align: center;
        color:white;
        font-size:18px;
        font-weight:200;
        text-transform: uppercase;
        
    }
}