.page{
    
    overflow:auto;
    max-width:960px;
    background:#fff;
    min-height:80vh;
    margin:auto;
    padding:20px;

    main{
        width:65%;
        min-height:80vh;
        display: inline-block;
    }
    
    aside{
        width:30%;
        min-height:40vh;
        border:1px solid #d0d0d0;
        float:left;
    }
}